{% extends "base.html" %}

{% block content %}
<div class="mt-5">
    <h1 class="text-center mb-4">Add a Review for {{ package.title }}</h1>

    <form method="post" class="review-form text-center">
      {% csrf_token %}

      <div class="mb-3">
        <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
        {{ form.title }}
        {% if form.title.errors %}
          <div class="text-danger">{{ form.title.errors }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="{{ form.difficulty_rating.id_for_label }}" class="form-label">Difficulty Rating</label>
        <p class="small-text">Please rate how difficult you found the walking package:</p>
        {{ form.difficulty_rating }}
        {% if form.difficulty_rating.errors %}
          <div class="text-danger">{{ form.difficulty_rating.errors }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="{{ form.overall_rating.id_for_label }}" class="form-label">Overall Rating</label>
        <p class="small-text">Please provide your overall rating for the walking package:</p>
        {{ form.overall_rating }}
        {% if form.overall_rating.errors %}
          <div class="text-danger">{{ form.overall_rating.errors }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="{{ form.text.id_for_label }}" class="form-label">Review</label>
        <label class="small-text">Please write your review here:</label>
        {{ form.text }}
        {% if form.text.errors %}
          <div class="text-danger">{{ form.text.errors }}</div>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-success mx-auto">Submit Review</button>
    </form>

    <a href="{% url 'reviews:review_list' %}" class="btn btn-primary mt-3">Back to Reviews</a>
  </div>
{% endblock %}