{% extends "base.html" %}

{% block content %}
<h1>Reviews for {{ package.title }}</h1>
<ul>
    {% for review in reviews %}
    <li>
        {{ review.title }} - <a href="{% url 'display_user_profile' pk=review.user.id %}">{{ review.user }}</a> - {{review.created_at }}
        <br>
        <strong>Difficulty Rating:</strong> {{ review.difficulty_rating }}
        <br>
        <strong>Overall Rating:</strong> {{ review.overall_rating }}
        <p>{{ review.text }}</p>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'reviews:review_list' %}" class="btn btn-primary">Back to All Reviews</a>
{% endblock %}