{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Your Cart</h1>

    {% if cart_items %}
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                {% for item in cart_items %}
                <li class="list-group-item">
                    <div class="d-flex flex-column">
                        <div class="mb-2">
                            <h5>{{ item.package.title }}</h5>
                        </div>
                        <div class="mb-2">
                            <p class="mb-0">Quantity</p>
                        </div>
                        <div class="mb-2">
                            <form method="post" action="{% url 'cart:update_cart' item.id %}" class="update-form">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control quantity-input-small mx-auto">
                                </div>
                                <div class="mt-2">
                                    <button type="submit" class="btn btn-outline-secondary">Update Quantity</button>
                                </div>
                            </form>
                        </div>
                        <div>
                            <form method="post" action="{% url 'cart:remove_from_cart' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Price</h5>
                    <p class="card-text">£ {{ total_price }}</p>
                    <ul class="shopping-list">
                        {% for item in cart_items %}
                            <li>{{ item.package.title }} - Quantity: {{ item.quantity }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'product_page' %}" class="btn btn-success btn-block">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        Your cart is empty.
    </div>
    {% endif %}
</div>
{% endblock %}
