{% extends "base.html" %}

{% block content %}
<h1>Your Cart</h1>
<ul>
    {% for item in cart_items %}
    <li>
        {{ item.package.title }} - Quantity:
        <form method="post" action="{% url 'cart:update_cart' item.id %}">
            {% csrf_token %}
            <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
            <input type="submit" value="Update Quantity">
        </form>
        <form method="post" action="{% url 'cart:remove_from_cart' item.id %}">
            {% csrf_token %}
            <input type="submit" value="Remove">
        </form>
    </li>
    {% empty %}
    <li>Your cart is empty.</li>
    {% endfor %}
</ul>
<p>Total Price: ${{ total_price }}</p>

{% if cart_items %}
    <a href="{% url 'checkout:checkout' %}" class="btn btn-success">Proceed to Checkout</a>
{% endif %}

</div>
{% endblock %}
