{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div class="about-section">
    <h1>About Us</h1>

    <p>
        Embark on a journey with Highland Adventures, where the untamed beauty of the Scottish Highlands becomes the canvas for your unforgettable stories.
        Picture this: From the moment you reach out to us, to the exhilarating summit high above the clouds, and that well-deserved celebration drink at the journey's end – our team is your companion, ensuring a first-class experience every step of the way.
        We're not just proud of our hiking packages; we're enthusiasts who can't wait to share the magic of the Highlands with you. It's not just a walk; it's a bond forged in adventure. You arrive as a keen adventurer and leave as a friend, eager to reunite for yet another thrilling escapade.
        Based in the heart of Fort William, Scotland, we live and breathe the Highlands, and we're here to make sure you do too.
    </p>

    <h2>How the Hiking Packages Work:</h2>
    <p>
        Your journey begins the moment you choose a hiking package. Our professional team swings into action, crafting an experience tailored just for you.
        <br>Before you set foot on the trail, we'll send you:
        <ul>
            <li>Selectable dates for your adventure</li>
            <li>A detailed itinerary for the days ahead</li>
            <li>An equipment and kit list that ensures you're fully prepared</li>
            <li>Insights into lunches and evening meals, varying with the length of your chosen package</li>
        </ul>
        On the day of your adventure, expect:
        <ul>
            <li>Hassle-free travel to and from Highland Adventures</li>
            <li>An experienced Highland Adventure leader as your guide—qualified and passionate</li>
            <li>Safety ensured by our leader, a fully qualified first aider</li>
            <li>Satisfying meals tailored to the length of your journey</li>
            <li>A celebration drink to cap off your triumphant trek!</li>
        </ul>
    </p>

    <h2>What Type of Walk Should I Do?</h2>
    <p>
        Choosing the perfect walk is easy with our ranked difficulty levels. From gentle strolls to challenging hikes, there's a trail for every adventurer. Don't just take our word for it—check out our reviews page to hear what others have to say about their Highland Adventures.
        <br>You have one life, live it! Come and explore the Scottish Highlands with us, where each step is a revelation, and every trek is a chapter in your extraordinary story.
    </p>
</div>

{% endblock %}
