{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="container mt-5 gallery-heading-container">
    <h1>Gallery</h1>
    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700050366/static/media/media/packages/background.7c9dd2a78a74.jpg" alt="Background Image" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219691/stob_ban_givrox.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219688/stob_ban_2_s7v6wo.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219682/highlands_znl6ob.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219678/scotland_a53vrg.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219674/pap_glencoe_ntrk4r.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219670/pap_glencoe2_mzbl7n.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219661/evite_beag_2_iyvcit.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219659/Evite_beag_shj5m0.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219651/ben_nevis_2_bowfyt.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219650/ben_nevis_3_umw9lh.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219650/ben_nevis_sign_bsxoc0.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700219650/ben_nevis_4_fzhaz3.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700154332/media/packages/pap_glencoe_bt9dbg.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://res.cloudinary.com/dbagkfamv/image/upload/v1700154284/media/packages/creag_meagaidh_circuit-min_rvyg6m.jpg" alt="Picture of Mountain" class="img-fluid rounded gallery-image">
      </div>
    </div>
  </div>
{% endblock %}