/* index page styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    order: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    z-index: 1;
}

.horizontal-nav {
    list-style: none;
    padding: 0;
    text-align: right;
}

.horizontal-nav li {
    display: inline-block;
    margin-left: 20px;
}

.horizontal-nav li:first-child {
    margin-left: 0;
}

main {
    order: 2;
    flex-grow: 1;
    padding: 20px;
    margin-top: 70px;
}

footer {
    order: 3;
    position: relative;
    /* Change to relative */
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: center;
}

footer .social-links {
    list-style: none;
    padding: 0;
    display: flex;
}

footer .social-links li {
    margin: 0 10px;
}

/* index page styling */
.content-container {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* sign up forms */
.custom-card {
    margin-top: 20px;
}

/* Style images in package_list */
ul li img {
    max-width: 200px;
    max-height: 150px;
}

/* Style images in package_detail */
img {
    max-width: 300px;
    max-height: 200px;
}

/* Styling for message popup, to display under navbar */
.messages-container {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 1050;
    width: 25%;
}