{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4">Edit Your User Profile</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-3">
            <label for="{{ form.bio.id_for_label }}" class="form-label">Bio:</label>
            <br>
            {{ form.bio }}
          </div>

          {% if form.instance.profile_picture %}
            <div class="mb-3">
              <label class="form-label">Profile Picture:</label>
              <img src="{{ form.instance.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail">
            </div>
          {% endif %}

          <div class="mb-3">
            <label for="{{ form.profile_picture.id_for_label }}" class="form-label">Change Profile Picture:</label>
            {{ form.profile_picture }}
          </div>

          <button type="submit" class="btn btn-primary">Save Profile Information</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
