{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container home_msg">
    {% if user.is_authenticated %}
      <form id="payment-form" method="post" role="product_page">
        {% csrf_token %}
        <h2>Hi {{ user }}! To pay, click on this button <button type="button" id="checkout-button" class="btn btn-success">Payment</button></h2>
      </form>
    {% else %}
      <h2>You're not logged in...</h2><a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
    {% endif %}
    
    <!-- Temporary debug statement -->
    <p>User authenticated status: {{ user.is_authenticated }}</p>
  </div>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
  fetch('{% "user_payment:product_page" %}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value,
    },
    body: JSON.stringify({}),
  })
  .then(function (response) {
    // Check if the response is a successful status (e.g., 200)
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }

    return response.json(); // Parse the JSON response
  })
  .then(function (session) {
    return stripe.redirectToCheckout({ sessionId: session.id });
  })
  .then(function (result) {
    if (result.error) {
      alert(result.error.message);
    }
  })
  .catch(function (error) {
    console.error('Error:', error);
  });
});

  </script>

{% endblock %}
