{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}
    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}

    <title>Highland Walks {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top"></header>
    <header class="container-fluid fixed-top">
        <nav>
            <ul class="horizontal-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'package_list' %}">View Packages</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Cart</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                <li class="nav-item dropdown">
                    <a class a="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Profile Details
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user_profile' %}">User Profile</a>
                        <a class="dropdown-item" href="{% url 'user_profile_edit' %}">Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'custom_user_edit' %}">Edit Custom User</a>
                    </div>
                </li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container messages-container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <main class="content-container">
        <div class="container table-responsive">
            {% block content %} {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <h3>Connect with Us</h3>
        </div>
        <div class="container">
            <ul class="social-links">
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://www.twitter.com">Twitter</a></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>
            </ul>
        </div>
        <div class="container">
            <p>&copy; 2023 Hiking Walks</p>
        </div>
    </footer>


    {% block page_header %} {% endblock %}
    {% block postloadjs %}
    <script>
        setTimeout(function () {
            let messages = document.querySelector(".messages-container");
            if (messages) {
                messages.innerHTML = '';
            }
        }, 2500);
    </script>
    {% endblock %}
</body>

</html>